.corners {
    &::before{
        @apply absolute sm:-top-1 sm:-right-1 top-0 right-0;
        @apply content-[''] border-t-[0.8rem] border-r-[0.8rem] border-primary w-12 h-12;
    }
    &::after{
        @apply absolute sm:-bottom-1 sm:-left-1 bottom-0 left-0;
        @apply content-[''] border-b-[0.8rem] border-l-[0.8rem] border-primary w-12 h-12;
    }
}

.ant-picker-input{
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    & .ant-picker-suffix{
        opacity: 1 !important;
    }
}

.align-loader{
    .ant-btn-icon{
        display: flex;
    }
}